.App {
  text-align: center;
  font-size: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}

.App-header a {
  color: white;
}

.App-main {
  padding: 20px;
}

.shoes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.shoe {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
  width: 30%;
}

.selected-shoe {
  padding: 20px;
  border: 1px solid black;
  margin-top: 20px;
}

.selected-shoe button {
  margin-right: 10px;
}